html, body, #map_canvas {
          width: 100%;
          height: 100%;
          margin: 0;
      }
      #descriptionbox

      {

      	font-size: 1em;

	height: 14px;

      position: absolute;

      z-index: 10000;

	left: 80px;

		

	margin-right:0px;

	



	font-size: 12px;

	cursor: default;

      }

#descriptionToggle, #descriptionToggle1, #descriptionToggle2, #descriptionToggle3 {

padding: 2px 10px;
margin:-2px;
		background-color: #7898d8;
color:#fff;

	opacity: 0.85;

	} 

#togglebox

{

background-color: #7898d8;

	opacity: 0.85;

	}

#descriptionToggle:hover, #descriptionToggle1:hover, #descriptionToggle2:hover, #descriptionToggle3:hover {

	background-color: #FFF;
color:#000;
margin-right:-3px;
	opacity: 1;

}

#description {

	z-index: 10000;

		top: 18px;

	padding: 10px 10px;

		background-color: #FFF;

	font-size: 12px;

}

#description1 {

		z-index: 10000;

	left: 80px;

	top: 18px;

	

	padding: 10px 10px;

	margin-right: 200px;

	background-color: #FFF;

	font-size: 12px;

}

#description2 {

		z-index: 10000;

	left: 80px;

	top: 18px;

		padding: 10px 10px;

	margin-right: 200px;

	background-color: #FFF;

	font-size: 12px;

}
#description3 {

		z-index: 10000;

	left: 80px;

	top: 18px;

		padding: 10px 10px;

	margin-right: 200px;

	background-color: #FFF;

	font-size: 12px;

}

    /* 
     /* #descriptionbox
      {
      	font-size: 1em;
	height: 14px;
      position: absolute;
      z-index: 10000;
	left: 80px;
		
	margin-right:0px;
	

	font-size: 12px;
	cursor: default;
      }
#descriptionToggle,#descriptionToggle1,#descriptionToggle3, #descriptionToggle2 {
padding: 2px 10px;
		background-color: #7898d8;
		color:#fff;
	opacity: 0.85;
	} 
	*/
	//#descriptionToggle1 {
//padding: 2px 12px 2px 8px;
	//	background-color: #7898d8;
	//	color:#fff;
//	opacity: 0.85;
///	} 

//	#descriptionToggle3 {
//padding: 2px 10px 2px 10px;
//margin-left:-1em;
//		background-color: #7898d8;
//		color:#fff;
//	opacity: 0.85;
//	} 
/*
#togglebox
{
background-color: #EEE;
	opacity: 0.85;
	}
#descriptionToggle:hover, #descriptionToggle1:hover, #descriptionToggle2:hover, #descriptionToggle3:hover {
	background-color: #FFF;
	color: #000;
	opacity: 1;
}
#description {
	z-index: 10000;
		top: 18px;
	border: 1px solid #000040;
	padding: 10px 10px;
		background-color: #FFF;
	font-size: 12px;
}
#description1 {
		z-index: 10000;
	left: 80px;
	top: 18px;
	
	padding: 10px 10px;
	margin-right: 200px;
	background-color: #FFF;
	font-size: 12px;
}
#description3 {
		z-index: 10000;
	left: 80px;
	top: 18px;
	
	padding: 10px 10px;
	margin-right: 200px;
	background-color: #FFF;
	font-size: 12px;
}

#description2 {
		z-index: 10000;
	left: 80px;
	top: 18px;
	
	padding: 10px 10px;
	margin-right: 200px;
	background-color: #FFF;
	font-size: 12px;
}
*/
.hide { display: none; }